@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.text-secondary {
  padding-left: 25px;
  font-size: 14px;
}

a.active {
  font-size: 18px;
}

a.card {
  text-decoration: none;
  &:hover {
    box-shadow: 0 0 17px 0 rgba(115, 129, 142, 0.5);
  }
}
.details_student_navbar {
  display: flex;
  flex-wrap: wrap;
  padding-top: auto;
  padding-bottom: auto;
  border: 1px solid #C2CFD6;
  border-radius: 6px;
  margin-top: 25px;
  background-color: #F0F3F5;
}
