<div class="pt-3 pb-3 d-flex justify-content-md-start justify-content-between">
  <h2 [translate]="'Messages.messages'"></h2>
</div>
<div class="msg_navbar">
  <form class="form-inline p-3 col">
    <div class="form-group col-lg-4 col-md-4 flex-nowrap mb-0 ">
      <label class="pr-2 d-none d-lg-block" for="searchText" [translate]="'Messages.OrderBy'"></label>
      <select [(ngModel)]="selectedMessages" name="selectMessage"  class="form-control flex-fill" (change)="onChange($event)" >
        <option [ngValue]="'today'" [translate]="'Messages.Today'" [selected]="true"></option>
        <option [ngValue]="'week'" [translate]="'Messages.LastWeek'" ></option>
        <option [ngValue]="'month'" [translate]="'Messages.LastMonth'"></option>
        <option [ngValue]="'unread'" [translate]="'Messages.NewNotification'"></option>
        <option [ngValue]="'all'" [translate]="'Messages.All'"></option>
      </select>
    </div>
    <div class="form-group col-xl-4 col-lg-6 col-md-8 flex-nowrap pt-md-0 pt-sm-2 d-none d-md-flex">
      <label class="pr-2" for="searchText" [translate]="'Messages.Filter'"></label>
      <input [(ngModel)]="searchText"  (keyup)="onSearchTextKeyUp($event)" spellcheck="false" type="text" (keydown)="onSearchTextKeyDown($event)"
             id="searchText" name="searchText" class="form-control flex-fill col" style="min-width: 100px;" placeholder="{{'Messages.PlaceHolder' | translate}}">
    </div>
  </form>
</div>

<div *ngIf="messages">
  <div *ngIf="this.count >1 || this.count == 0" class=" mt-1 text-right text-color-theme font-xl sis-brand-bold">  {{this.count}} {{'Messages.Results' | translate}}</div>
  <div *ngIf="this.count ==1" class=" mt-1 text-right text-color-theme font-xl sis-brand-bold">  {{this.count}} {{'Messages.Result' | translate}}</div>
</div>
<hr>
<div *ngIf=" messages && messages.length >0">
  <div  class="inner__content"
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollUpDistance]="2"
        [infiniteScrollThrottle]="50"
        [infiniteScrollContainer]="selector"
        [fromRoot]="true"
        (scrolled)="onScroll()">
    <div class="mr-3 border border-light" *ngFor="let message of messages; let first = first; let last = last;"
         [ngClass]="first? 'rounded-top border-bottom-0': last? 'rounded-bottom': 'border-bottom-0 rounded-0'">
      <div class="card m-0 shadow-none ">
        <div class="card-body overflow-hidden col-12 p-0">
          <div class="row">
            <div class="px-5 py-3 col-xl-10 col-lg-10 col-md-9 col-12">
              <div class="">
                <span class="font-xl" *ngIf="message?.subject != null && message?.subject.length > 0; else noSubject"
                      [ngClass]="(!message?.dateReceived)?'font-weight-bold':'text-secondary'">
                 {{message?.subject}} <span class="font-sm"> ( {{message?.dateCreated | date: 'dd-MM-yyyy h:mm a'}} )</span>
                </span>
              </div>
              <div class="">
                    <ng-template #noSubject>
                  <span class="font-xl" [ngClass]="(!message?.dateReceived)?'font-weight-bold':'text-secondary'">
                    {{'Messages.NoSubject' | translate}}
                  </span>
                    </ng-template>
              </div>
              <div class="">
                <span [innerHTML]="message.body"></span>
              </div>
              <div class=" text-secondary pt-2" *ngIf="message?.action != null">
                <span class="mr-2">{{'Messages.ItsAbout' | translate}}:</span>
                <span class="mr-2" *ngIf="message?.action?.alternateName != null"> {{ 'NewRequestTemplates.' + message?.action?.alternateName + '.Title'  | translate}} </span>
                <span class="mr-2">( {{ message?.action?.dateCreated  | date: 'dd-MM-yyyy h:mm a'}} )</span>
              </div>
              <div class="pt-3" *ngIf="message?.attachments != null">
                <button *ngFor="let attachment of message?.attachments" (click)="downloadFile(attachment)"
                        type="button" class="btn btn-light" [translate]="'Messages.Download'"></button>
              </div>
              <div class="text-muted d-none d-sm-block pt-3" *ngIf="message?.sender?.alternateName">
                {{'Messages.Sender' | translate}}: {{message?.sender?.alternateName}}
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-12">
              <summary class="d-flex p-3 text-success float-xl-right" (click)="setMessageAsRead(message)"
                       *ngIf="message?.dateReceived == null || !message?.read">
                <span class="font-sm text-center m-auto text-success">
                  <i class="far fa-3x fa-envelope-open"></i><br>
                  <span class="font-xs">{{ 'Messages.MarkAsRead'| translate }}</span>
                </span>
              </summary>
              <div class="d-flex p-3 float-xl-right" *ngIf="message?.dateReceived != null && message?.read">
                 <span class="font-sm text-center m-auto text-gray-300" >
                    <i class="far fa-3x fa-envelope"></i><br>
                   <span>{{ message?.dateReceived | date: 'dd-MM-yyyy h:mm a'}}</span>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoading && messages && messages.length === 0" class="text-gray-600 mt-3"  [translate]="'Messages.NoMessages'"></div>
